.flex-container {
    display:flex;
    flex-direction: column;
    /* flex-direction will align the main axis with the choice
    you make:

    column: main axis top-bottom secondary axis L - R
    row: main axix L - R secondary axis top-bottom

    in the flex-items below, the declaration of flex needs to be 1 1 auto
    to assure that the div does not collapse. flex-basis refers to the
    HEIGHT of the element now, instead of the WIDTH it refers to in flex-
    direction: row
    */
}

.flex-container div {
    background-color: #fbcaeb;
    border: 4px solid #f850c0;
    height: 80px;
    flex: 1 1 auto;
}