html {
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    line-height: 140%;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    background-color: #e29999;
    padding: 1rem;
    border: 4px solid #da2d2d;
}
/* This selector declares that the class flex container should behave
accoding to logic from flexbox */

.flex-container div {
    background-color: #dcdcdc;
    border: 4px solid #505050;
    padding: 1rem;
    flex: 1 1 0%;
}
/* This selector applies specific styling on a div 
within a flex container */

/* The flex declaration within is actually a shorthand for three things:

G.  flex-grow: 
    the "growth factor" of an element relative to the other elements 
    in the flex-container. In case of two containers A and B where container A
    has a value of flex: 1; and container B has a value of flex: 2; we will see
    that container B will grow twice the size of container A.

S.  flex-shrink: 
    the "shrink factor" of an element relative to the other elements
    in the flex-container. Will be in effect only when the witdh of all divs within
    the flex-container exceed the total width. If a flex-container has 3 containers
    A, B and C and a width of 300px in total, flex-shrink will take precedence when
    containers A, B and C would have a declared width of 100 px. In that case they
    need to shrink to fit. This value is set to 1 by default, if you do not want an
    element to shrink you should set it to 0.

B.  flex-basis: 
    sets the initial size of a flex item, so that any sort of flex-growing or 
    flex-shrinking starts from that  baseline size. If set to 0, it will ignore a
    baseline size


By default, these values are  0(G) 1(S) 0%(B) respectively.
Applying flex: 1 will result in 1(G) 1(S) 0%(B).

Width is not respected by flex when the parent container is bigger than the sum of
them all. They will fill out anyways.

*/

.flex-container .rectangle3 {
    background-color: #a999e2;
    border: 4px solid #5b2dda;
    width: 600px;
    flex: 0 1 auto;
    /* These settings will force rectangle3 to not grow (flex-grow: 0), to shrink
    (flex-shrink: 1) and to respect the width as declared (flex-basis: auto)*/   
}






