.flex-container {
    display: flex;
    background-color: #e29999;
    padding: 1rem;
    border: 4px solid #da2d2d;
}
/* This selector declares that the class flex container should behave
accoding to logic from flexbox */

.flex-container div {
    background-color: #dcdcdc;
    border: 4px solid #505050;
    padding: 2rem;
    height: 20rem;
    flex: 1;
}

